<p>
  <strong>name:</strong>
  <%== @user.name %>
</p>

<p>
  <strong>password:</strong>
  <%== @user.password %>
</p>

<p>
  <strong>salts:</strong>
  <%== @user.salts %>
</p>
<p>
  <strong>Avatar</strong>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize: "100x100") %>
    <%= image_tag @user.avatar.variant(resize_to_limit: [50, 100]) %>
    <%#= image_tag @user.avatar%>
    <%#= url_for(@user.avatar) %>
  <% end %>
</p>

<p><%== link_to 'Update Profiles', :edit_user, method: :get %></p>