<%= form_for product, url: path, method: :post do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :brand_id %><br>
    <%= f.select(:brand_id, @brands.map{|i| [i.name, i.id]}) %>
  </p>
  <p>
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, @categories.map{|i| [i.name, i.id]}) %>
  </p>
  <p>
    <%= f.label :types %><br>
    <%= f.text_field :types %>
  </p>
  </p>
  <p>
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </p>
    <%= f.submit %>
  </p>
<% end %>