
<h1>New Product</h1>

<h2>Add a New Product:</h2>
<%= form_for @product, url: :admin_products, method: :post do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </p>
  <p>
    <%= f.label :categories %><br>
    <%= f.text_field :categories %>
  </p>
  <p>
    <%= f.label :types %><br>
    <%= f.text_field :types %>
  </p>
  </p>
  <p>
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </p>
    <%= f.submit %>
  </p>
<% end %>