
<h1>New Product</h1>

<h2>Add a New Product:</h2>
<%= form_for @product, url: :admin_products, method: :post do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :brand_id %><br>
    <%= f.select(:brand_id) do %>
      <% @brands.each do |b| %>
        <%= content_tag(:option, b.name, value: b.id) %>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= f.label :category_id %><br>
    <%= f.select(:category_id) do %>
      <% @categories.each do |c| %>
        <%= content_tag(:option, c.name, value: c.id) %>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= f.label :types %><br>
    <%= f.text_field :types %>
  </p>
  </p>
  <p>
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </p>
    <%= f.submit %>
  </p>
<% end %>