<h1>New Product</h1>

<%# <%= render partial: 'form', locals: {path: :admin_products, product: [@product, @price]} %> %>

<%= form_with model: @product, url: :admin_products, method: :post do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :brand_id %><br>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, prompt: "Pick a Brands" %>
  </p>
  <p>
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Pick a Category" %>
    <%# <%= f.select(:category_id, @categories.map{|i| [i.name, i.id]}) %>
  </p>
  <p>
    <%= f.label :types %><br>
    <%= f.text_field :types %>
  </p>
  <p>
    <%# <%= f.label :price %>
    <%# <%= product.price[0].price[:change.to_s]%>
    <%= f.fields_for @prices do |price| %> 
    <p>
      <%= price.label :price %> <br>
      <%= price.text_field :price, placeholder: "Add A New Price" %>
    </p>
    <p>
      <%= price.label :seller %> <br>
      <%= price.text_field :seller, placeholder: "Add A New seller" %>
    </p>
    <p>
      <%= price.label :link %> <br>
      <%= price.text_field :link, placeholder: "Add A New link" %>
    </p>
    <% end %>

  </p>
  <p>
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </p>
    <%= f.submit %>
  </p>
<% end %>