<%== button_to :Add_New_Seller, new_admin_product_price_path(@product), method: :get %>
<%== button_to :Delete_product, admin_product_path(@product), method: :delete %>
<div>
  <p>Name: <%== @product.name %></p>
  <p>Type: <%== @product.types %></p>
  <p>Brand: <%== @product.brand.name %></p>
  <p>Category: <%== @product.category.name %></p>
  <p>Create_at: <%== @product.created_at %></p>
  <p>Update_at: <%== @product.updated_at %></p>
  <p>Detail: <%== @product.detail %></p>
  <table>
    <tr>
      <th>Seller</th>
      <th>Link</th>
      <th>price</th>
    </tr>
    <% @product.prices.each do |p| %>
      <tr>
        <td><%== p.seller %></td>
        <td><%== p.link %></td>
        <td>
          <% p.price.each do |item| %>
            <%== item['updated_at'] %> -> <%== item['price'] %><br>
          <% end %>
        </td>
        <td><%== button_to :Add_New_Price, edit_admin_product_price_path(@product, p), method: :get %></td>
        <td><%== button_to :Delete_Price, admin_product_price_path(@product, p), method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>